<button mat-raised-button color="primary" (click)="filter(1)">Same Office And Grade</button>
<button mat-raised-button color="primary" (click)="filter(2)">All Offices And With The Same Grade</button>
<button mat-raised-button color="primary" (click)="filter(3)">Same Position And Grade</button>
<button mat-raised-button color="primary" (click)="filter(4)">All Positions And With the Same Grade</button>
<button mat-raised-button color="warn" (click)="filter(0)">Clear filters</button>


<hr>

<table mat-table [dataSource]="employees" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="employeeCode">
      <th mat-header-cell *matHeaderCellDef> EMPLOYEE CODE </th>
      <td mat-cell *matCellDef="let element"> {{element.employeeCode}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="employeeFullname">
      <th mat-header-cell *matHeaderCellDef> EMPLOYEE NAME </th>
      <td mat-cell *matCellDef="let element"> {{element.employeeFullname}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="division">
      <th mat-header-cell *matHeaderCellDef> DIVISION </th>
      <td mat-cell *matCellDef="let element"> {{element.division}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> POSITION </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="grade">
            <th mat-header-cell *matHeaderCellDef> GRADE </th>
            <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="beginDate">
            <th mat-header-cell *matHeaderCellDef> BEGIN DATE </th>
            <td mat-cell *matCellDef="let element"> {{element.beginDate}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="birthday">
            <th mat-header-cell *matHeaderCellDef> BIRTHDAY </th>
            <td mat-cell *matCellDef="let element"> {{element.birthday}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="identificationNumber">
            <th mat-header-cell *matHeaderCellDef> ID NUMBER </th>
            <td mat-cell *matCellDef="let element"> {{element.identificationNumber}} </td>
          </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="totalSalary">
            <th mat-header-cell *matHeaderCellDef> TOTAL SALARY </th>
            <td mat-cell *matCellDef="let element"> {{element.totalSalary}} </td>
            </ng-container>
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr 
   mat-row 
   (click)="clickedRow(row)"
   [class.employee-row-is-clicked]="employee && employee.id == row.id"
   *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
