<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
       <mat-toolbar>
           <span class="spacer">MENU</span>
            <button mat-icon-button
            (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
            </button>
       </mat-toolbar>


       <mat-nav-list>

           <a routerLink="./list"
           mat-list-item
           (click)="sidenav.toggle()">
           <mat-icon
           mat-list-icon>label</mat-icon>
               <span>Employee List</span>
           </a>

           <a routerLink="./add"
           mat-list-item
           (click)="sidenav.toggle()">
           <mat-icon
           mat-list-icon>add</mat-icon>
               <span>Add Employee</span>
           </a>

       </mat-nav-list>

    </mat-sidenav>


    <mat-toolbar>
        <button mat-icon-button
                (click)="sidenav.toggle()">
           <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-button>
            Logout
        </button>
    </mat-toolbar>

<div class="container"> 


        <mat-card>
            <mat-card-title>List Employees</mat-card-title>
            <router-outlet>
            </router-outlet>
          </mat-card>
  
</div>
    

</mat-sidenav-container>
